@import './src/constants/variables';

.signup {
  &__wrapper {
    position: relative;
    margin-top: 80px;
    display: flex;
    flex-direction: row-reverse;
    gap: 40px;
  }
  &__header {
    font-size: 38px;
    font-weight: 600;
    color: #4e4e4e;
  }
  &__message {
    flex: 2;
  }
  @media only screen and (max-width: $screen-xl) {
    &__wrapper {
      flex-direction: column;
    }
  }
  @media only screen and (max-width: $screen-md) {
    &__wrapper {
      margin-top: 40px;
    }
  }
}

.form {
  background-color: #f7f7f7;
  padding: 30px 20px;
  flex: 3;
  &__wrapper {
    display: flex;
  }
  &__label {
    margin-top: 15px;
  }
}
