.restaurant-dish {
  display: flex;
  align-items: flex-start;
  gap: 40px;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }

  &__image {
    width: 400px;
    max-width: 100%;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;

    @media screen and (max-width: 1440px) {
      width: 300px;
    }

    @media screen and (max-width: 1024px) {
      width: 200px;
    }

    @media screen and (max-width: 768px) {
      width: 400px;
      max-width: 100%;
    }
  }

  &__content {
    flex-grow: 1;
  }

  &__title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
  }

  &__price {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
  }

  &__status {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;

    span {
      color: green;
    }
  }

  &__description {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 24px;
  }

  .ingredients {
    font-size: 18px;
    line-height: 24px;

    &__title {
      margin-bottom: 10px;
      font-weight: 700;
    }

    &__list {
      margin-bottom: 40px;
      padding-left: 20px;

      li {
        margin-bottom: 5px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &.is-draft {
    .restaurant-dish {
      &__status {
        span {
          color: red;
        }
      }
    }
  }
}
