.promo2 {
  &__section {
    padding: 50px 0;
  }
  &__wrapper {
    width: 100%;
    display: flex;
    gap: 60px;
    p {
      margin-top: 15px;
    }
    button {
      margin-top: 25px;
    }
  }
  &__title {
    font-size: 38px;
    line-height: 50px;
    font-weight: 600;
    color: #4e4e4e;
  }
  &__img {
    width: 100%;
    background-image: url(https://www.lekste.lt/dist/img/static/marketing/section-2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  &__main {
    display: flex;
    flex-direction: column;
    span {
      font-weight: 700;
    }
  }
}
