.promo2 {
  &__section {
    // height: 300px;
    padding: 50px 0;
  }
  &__wrapper {
    width: 100%;
    display: flex;
    gap: 40px;
  }
  &__img {
    width: 100%;
    background-image: url(https://www.lekste.lt/dist/img/static/marketing/section-2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  &__main {
    span {
      font-weight: 700;
    }
  }
}
