.rest-dashboard {
  padding: 40px;
  background-color: #fff;

  @media screen and (max-width: 768px) {
    padding: 20px;
  }

  &__tablist {
    @media screen and (max-width: 600px) {
      flex-direction: column !important;
      border-bottom: none !important;
    }

    button {
      font-weight: 700;
      text-transform: uppercase;

      @media screen and (max-width: 991px) and (min-width: 601px) {
        font-size: 16px;
      }

      @media screen and (max-width: 600px) {
        margin-bottom: 0 !important;

        &[aria-selected='true'],
        &[data-selected] {
          border-color: initial !important;
          border-radius: 6px !important;
        }
      }
    }
  }

  &__tabpanels {
    padding-top: 40px;
  }
}
